.mobileView{
    width:100%;
    padding: 0px 0px;
}

.menuCategory{
    display:flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 8px 0px;
    padding: 10px 0px;
    
}

.menuCategory::-webkit-scrollbar{
    display: none;
}

.rowMenuCard{
    width: 80px;
    min-width: 80px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0,0.17);
    transition: 0.5s;
    cursor:pointer;
    margin-right: 10px;
    z-index: 100;
}

.rowMenuCard:hover,.rowMenuCard.active{
    background-color: #235fffc4;
}

.imgBox{
    width: 75px;
    height: 75px;
    border-radius: 100vw;
    padding:2px;
    display:flex;
    justify-content:center;
    align-items: center;
    transition: 0.5s;
    overflow:hidden;

}

.imgBox img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.rowMenuCard h3{
    margin-top:5px;
    color: #235fffc4;
    font-size: 10px;
    font-weight: 600;
    transition: 0.5s;
}

.rowMenuCard:hover h3,.rowMenuCard.active h3{
    color: #fff;
}

