@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

/* nextjs-portal {
  display: none;
} */

:root {
  --primary-color: #003580;
  --secondary-color: #0071c2;
  --accent-color: #febb02;
  --text-color: white;
  --border-color: white;
  --facebook-color: #3b5998;
  --twitter-color: #00aced;
  --googleplus-color: #dd4b39;
  --instagram-color: #125688;
  --pinterest-color: #cb2027;
  --dribbble-color: #ea4c89;
  --behance-color: #053eff;
  --linkedin-color: #1685b9;
  --whatsapp-color: #4caf50;
  --col-b: #0263f1;
}

.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  position: relative;
}

.col-b {
  color: var(--col-b);
  font-weight: 700 !important;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  gap: 40px;
  margin-bottom: 50px;
  display: flex;
}

.headerListItem {
  align-items: center;
  display: flex;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: rgb(36, 32, 32);
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: rgb(93 86 86);
  cursor: pointer;
}

/* a.nav-link.mr-top {
    margin-top: 28px;
} */

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  align-items: center;
  gap: 10px;
  display: flex;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

input.w-full.p-2\.5.border.rounded-md.text-sm.focus\:ring-2.focus\:ring-blue-300.pac-target-input {
  border: 1px solid rgb(148, 146, 146) !important;
}

/* navbar */

.header-fixed {
  border-bottom: 1px solid var(--text-color);
  background: #ffffff;
  position: fixed !important;
  z-index: 999;
  width: 100%;
  top: 0;
  transition: 0.2s ease-in;
  animation-duration: 0.5s;
  animation-name: slideInDown;
}

.navbar-light .navbar-brand {
  color: #df2b1e !important;
  font-size: 34px !important;
  margin-top: 9px;
}

.footer-widget a.navbar-brand.me-5.fw-bold.fs-3 {
  color: rgb(239 16 16 / 90%) !important;
  font-size: 30px !important;
}

.light {
  color: #f8f9fa !important;
}

.navigation * {
  -webkit-tap-highlight-color: transparent;
}

a.navbar-brand span {
  color: #0967f2;
}

.container span.email {
  font-size: 10px;
}

.nav-item i.actively {
  width: 16px;
  height: 17px;
  color: #0d6efd;
}

.nav-item i.actively2 {
  color: #d1a915 !important;
}

i.fa-solid.fa-hotel {
  width: 16px;
  height: 17px;
  color: #e73a73;
}

i.fa-solid.fa-suitcase-rolling {
  color: #e73a73 !important;
}

.nav-link p {
  margin: -1px 7px;
  font-weight: 700;
  font-size: 16px;
}

.nav-link p:hover {
  color: #e73a73;
}

.badge {
  margin-left: 89px;
}

img.logo {
  height: 35px;
}

.list-buttons {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.list-buttons > a {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  padding: 7px 20px;
  color: #2a5298;
  border-radius: 8px;
  position: relative;
  border: 2px solid #2196f3;
}

.list-buttons:hover {
  background-color: #2196f3;
  border-radius: 8px;
  /* border: 1px solid #2a5298; */
}

.list-buttons > a i {
  margin-right: 11px;
}

.list-buttons > a:hover {
  color: #fff;
}

label {
  font-size: 15px;
}

button.btn.btn-primary.full-width.font--bold.btn-lg {
  background-color: #cd2c22;
  text-decoration: none;
  border: 1px solid #cd2c22;
  font-size: 14px;
  padding: 15px 0px;
  font-weight: 600;
  margin-bottom: 10px;
}

a.text-primary.fw-medium {
  color: #cd2c22 !important;
  font-size: 13px;
}

.devider-wraps {
  height: 0.5px;
  width: 100%;
  border: 1px dashed #e0e8ed;
  border-radius: 50px;
}

.devider-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 0 10px;
  font-size: 14px;
}

.br-dashed {
  border-style: dashed !important;
}

.full-width {
  width: 100%;
}

a.square--60.border.br-dashed.rounded-2.full-width {
  text-decoration: none;
}

.modal-footer > p {
  font-size: 14px;
  font-weight: 600;
}

.brandImg {
  display: flex;
}

.mobileView {
  display: none;
}

/*------------ Common Elements: Social Links ---------------*/
.color--facebook {
  color: var(--facebook-color) !important;
}

.color--twitter {
  color: var(--twitter-color) !important;
}

.color--googleplus {
  color: var(--googleplus-color) !important;
}

.color--instagram {
  color: var(--instagram-color) !important;
}

.color--pinterest {
  color: var(--pinterest-color) !important;
}

.color--dribbble {
  color: var(--dribbble-color) !important;
}

.color--behance {
  color: var(--behance-color) !important;
}

.color--linkedin {
  color: var(--linkedin-color) !important;
}

.color--whatsapp {
  color: var(--whatsapp-color) !important;
}

.bg--facebook {
  background: var(--facebook-color) !important;
  color: #fff !important;
}

.bg--twitter {
  background: var(--twitter-color) !important;
  color: #fff !important;
}

.bg--googleplus {
  background: var(--googleplus-color) !important;
  color: #fff !important;
}

.bg--instagram {
  background: var(--instagram-color) !important;
  color: #fff !important;
}

.bg--pinterest {
  background: var(--pinterest-color) !important;
  color: #fff !important;
}

.bg--dribbble {
  background: var(--dribbble-color) !important;
  color: #fff !important;
}

.bg--behance {
  background: var(--behance-color) !important;
  color: #fff !important;
}

.bg--linkedin {
  background: var(--linkedin-color) !important;
  color: #fff !important;
}

/* .btn--facebook */

.btn--facebook {
  background: #ffffff !important;
  border: 1px solid var(--facebook-color) !important;
  color: var(--facebook-color) !important;
}

.btn--facebook:hover {
  background: var(--facebook-color) !important;
  border: 1px solid var(--facebook-color) !important;
  color: #ffffff !important;
}

.btn--facebook:focus {
  background: var(--facebook-color) !important;
  border: 1px solid var(--facebook-color) !important;
  color: #ffffff !important;
}

.btn--facebook:active {
  background: var(--facebook-color) !important;
  border: 1px solid var(--facebook-color) !important;
  color: #ffffff !important;
}

/* .btn--twitter */

.btn--twitter {
  background: #ffffff !important;
  border: 1px solid var(--twitter-color) !important;
  color: var(--twitter-color) !important;
}

.btn--twitter:hover {
  background: var(--twitter-color) !important;
  border: 1px solid var(--twitter-color) !important;
  color: #ffffff !important;
}

.btn--twitter:focus {
  background: var(--twitter-color) !important;
  border: 1px solid var(--twitter-color) !important;
  color: #ffffff !important;
}

.btn--twitter:active {
  background: var(--twitter-color) !important;
  border: 1px solid var(--twitter-color) !important;
  color: #ffffff !important;
}

/* btn--googleplus */

.btn--googleplus {
  background: #ffffff !important;
  border: 1px solid var(--googleplus-color) !important;
  color: var(--googleplus-color) !important;
}

.btn--googleplus:hover {
  background: var(--googleplus-color) !important;
  border: 1px solid var(--googleplus-color) !important;
  color: #ffffff !important;
}

.btn--googleplus:focus {
  background: var(--googleplus-color) !important;
  border: 1px solid var(--googleplus-color) !important;
  color: #ffffff !important;
}

.btn--googleplus:active {
  background: var(--googleplus-color) !important;
  border: 1px solid var(--googleplus-color) !important;
  color: #ffffff !important;
}

/* btn--instagram  */

.btn--instagram {
  background: #ffffff !important;
  border: 1px solid var(--instagram-color) !important;
  color: var(--instagram-color) !important;
}

.btn--instagram:hover {
  background: var(--instagram-color) !important;
  border: 1px solid var(--instagram-color) !important;
  color: #ffffff !important;
}

.btn--instagram:focus {
  background: var(--instagram-color) !important;
  border: 1px solid var(--instagram-color) !important;
  color: #ffffff !important;
}

.btn--instagram:active {
  background: var(--instagram-color) !important;
  border: 1px solid var(--instagram-color) !important;
  color: #ffffff !important;
}

/* btn--pinterest */

.btn--pinterest {
  background: #ffffff !important;
  border: 1px solid var(--pinterest-color) !important;
  color: var(--pinterest-color) !important;
}

.btn--pinterest:hover {
  background: var(--pinterest-color) !important;
  border: 1px solid var(--pinterest-color) !important;
  color: #ffffff !important;
}

.btn--pinterest:focus {
  background: var(--pinterest-color) !important;
  border: 1px solid var(--pinterest-color) !important;
  color: #ffffff !important;
}

.btn--pinterest:active {
  background: var(--pinterest-color) !important;
  border: 1px solid var(--pinterest-color) !important;
  color: #ffffff !important;
}

/* btn--dribbble  */

.btn--dribbble {
  background: #ffffff !important;
  border: 1px solid var(--dribbble-color) !important;
  color: var(--dribbble-color) !important;
}

.btn--dribbble:hover {
  background: var(--dribbble-color) !important;
  border: 1px solid var(--dribbble-color) !important;
  color: #ffffff !important;
}

.btn--dribbble:focus {
  background: var(--dribbble-color) !important;
  border: 1px solid var(--dribbble-color) !important;
  color: #ffffff !important;
}

.btn--dribbble:active {
  background: var(--dribbble-color) !important;
  border: 1px solid var(--dribbble-color) !important;
  color: #ffffff !important;
}

/* .btn--behance  */

.btn--behance {
  background: #ffffff !important;
  border: 1px solid var(--behance-color) !important;
  color: var(--behance-color) !important;
}

.btn--behance:hover {
  background: var(--behance-color) !important;
  border: 1px solid var(--behance-color) !important;
  color: #ffffff !important;
}

.btn--behance:active {
  background: var(--behance-color) !important;
  border: 1px solid var(--behance-color) !important;
  color: #ffffff !important;
}

.btn--behance:focus {
  background: var(--behance-color) !important;
  border: 1px solid var(--behance-color) !important;
  color: #ffffff !important;
}

/* .btn--linkedin */

.btn--linkedin {
  background: #ffffff !important;
  border: 1px solid var(--linkedin-color) !important;
  color: var(--linkedin-color) !important;
}

.btn--linkedin:hover {
  background: var(--linkedin-color) !important;
  border: 1px solid var(--linkedin-color) !important;
  color: #ffffff !important;
}

.btn--linkedin:focus {
  background: var(--linkedin-color) !important;
  border: 1px solid var(--linkedin-color) !important;
  color: #ffffff !important;
}

.btn--linkedin:active {
  background: var(--linkedin-color) !important;
  border: 1px solid var(--linkedin-color) !important;
  color: #ffffff !important;
}

.height-100,
.height-90,
.height-80,
.height-70,
.height-60,
.height-50,
.height-40,
.height-30,
.height-20,
.height-10 {
  height: auto;
  padding: 5em 0;
}

.square--60 {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.svg-inline--fa.fa-circle-user {
  height: 20px;
  width: 20px;
  margin: 2px 4px;
}

@media screen and (max-width: 575px) {
  .availability-form {
    margin: 0;
  }
}

@media (max-width: 480px) {
  /* Common styles for both laptop and mobile views */
  .availability-form {
    margin: 0;
  }
}

/*-------------Add Adult & Child ------------*/
.guests-input {
  position: relative;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.booking-form__input.guests-input button {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 3px 6px;
  padding-left: 0;
  background-color: #fff;
  border: none;
  text-overflow: ellipsis;
  font-size: 12px;
  transition: border-color 0.2s ease;
  text-align: left;
  appearance: none;
  color: var(--text-color);
  font-weight: 500;
  min-width: 10rem;
}

.booking-form__input.guests-input.mixer-auto {
  padding: 0;
}

.booking-form__input.guests-input.mixer-auto > button {
  padding: 0;
  height: 37px;
  border-radius: 0.375rem;
  border-color: var(--border-color);
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  color: #041a28;
}

.booking-form__input.guests-input.mixer-auto > button:before,
.booking-form__input.guests-input.mixer-auto > button:after {
  display: none;
}

.guests-input button {
  cursor: pointer;
}

.guests-input button:after,
.guests-input button:before {
  content: " ";
  width: 8px;
  height: 1px;
  border-radius: 2px;
  background-color: #667a8b;
  position: absolute;
  top: 10px;
}

.guests-input button:before {
  transform: rotate(-45deg);
  right: 5px;
}

.guests-input button:after {
  transform: rotate(45deg);
  right: 10px;
}

.guests-input button.open:before {
  transform: rotate(45deg);
}

.guests-input button.open:after {
  transform: rotate(-45deg);
}

.guests-input__options {
  position: absolute;
  z-index: 3;
  top: 2rem;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(72, 72, 72, 0.2) 0px 15px 20px;
  border-radius: 0.4rem;
  overflow: hidden;
  height: 0;
  opacity: 0;
  min-width: 18rem;
  transition: all 0.1s linear;
}

.booking-form__input.guests-input.mixer-auto .guests-input__options {
  top: 53px;
  padding-top: 1rem;
  border: 2px solid red;
}

.guests-input__options.open {
  opacity: 1;
  height: auto;
  min-height: 150px;
}

.guests-input__options > div {
  padding: 10px 0;
  text-align: center;
}

.guests-input__options > div:first-child,
.guests-input__options > div {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1rem;
}

.guests-input__options > div:last-child {
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.guests-input__ctrl {
  display: inline-block;
  border: 2px solid #ffe6e5;
  font-size: 13px;
  color: #cd2c22;
  padding: 2px 7px;
  line-height: 20px;
  border-radius: 0.2rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

.guests-input__ctrl.disabled {
  color: #d8d8d8;
  border-color: #d9dee5;
  cursor: default;
}

.guests-input__value {
  display: inline-block;
  padding: 0 10px;
  width: 100px;
  cursor: default;
}

.guests-input__value span {
  display: inline-block;
  padding-right: 5px;
}

/*---------- Custom Dropdown ---------*/
.dropdowns {
  min-width: 12em;
  position: relative;
  margin: 0em;
}

.dropdowns.smaller {
  min-width: 8em;
  position: relative;
  margin: 0em;
}

.selections {
  background: #ffffff;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.2em;
  padding: 3px 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.selections .caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #6e7b8d;
  transition: 0.3s;
  position: absolute;
  right: 7px;
}

.selections .caret-rotate {
  transform: rotate(180deg);
}

.selections .selected {
  font-size: 12px;
  color: var(--text-color);
  font-weight: 500;
}

.dropdowns .menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #ffffff;
  box-shadow: rgba(72, 72, 72, 0.2) 0px 15px 20px;
  border-radius: 0.5em;
  color: var(--text-color);
  position: absolute;
  top: 2em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.dropdowns .menu li {
  padding: 0.2em 0.5rem;
  margin: 0.3em 0;
  border-radius: 0.2em;
  cursor: pointer;
}

.dropdowns .menu-open {
  display: block;
  opacity: 1;
}

.dropdowns .menu-open .active {
  background: var(--primary-color);
  color: var(--text-color);
}

.search-wrap.with-label .form-group label {
  position: absolute;
  top: -9px;
  left: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 16px);
  font-size: 12px;
  background: #ffffff;
  padding: 0 4px;
  z-index: 2;
}

.search-wrap.with-label .form-group {
  position: relative;
}

.search-wrap.with-label .form-group label {
  font-size: 12px;
  color: #4e5f70;
  letter-spacing: 0;
  text-align: left;
  line-height: 18px;
  user-select: none;
  font-weight: 500;
}

.form-group span {
  font-size: 11px;
  color: var(--dribbble-color) !important;
  font-weight: 600;
}

.form-check {
  min-height: 0.8rem;
  padding-left: 1.7rem;
}

.form-check-input {
  width: 1.1rem;
  height: 1.1rem;
  margin-top: 0.19em;
  margin-left: -1.7rem !important;
}

.form-check.lg {
  min-height: 1rem;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.form-check.lg .form-check-input {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.1em;
  margin-left: -2rem !important;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.card-body {
  padding: 3rem 0rem !important;
  background-color: #ffe3f0;
}

/* .downloadApp.card {
    background-color: #ffe3f0;
    border: 1px solid gray;
} */

/* button.applink {
    margin-left: 70px;
} */

.low-price p {
  font-size: 11px;
  color: var(--primary-color);
  margin-top: 3px;
  font-weight: 600;
}

.bg-light-danger {
  background-color: rgba(255, 141, 5, 0.4) !important;
}

.form-check-input:focus {
  border-color: #ffdfdd;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 223, 221, 1);
}

.container.xlsize {
  max-width: 1175px;
}

.container.appsize {
  max-width: 1202px;
}

.btn-danger {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

/* Increase Google Autocomplete Dropdown Width & Height */
.pac-container {
  width: 400px !important;
  max-height: 300px !important;
  overflow-y: auto !important;
  font-size: 16px !important;
}

/* Increase individual dropdown item height */
.pac-item {
  padding: 6px !important;
  min-height: 40px !important;
}

.pac-container:after {
  display: none !important;
}

/*---------- GeoTrip Elements Styles: Tours and Place Styles ------------*/
.pop-touritem {
  position: relative;
  height: 100% !important;
  flex-wrap: wrap;
  border: 9px solid #fff;
  border-radius: 8px;
}

.fs-title {
  font-size: 1.12rem !important;
}

.detail.ellipsis-container {
  color: #455873;
  font-size: 14px;
}

.ellipsis-item__normal.separate {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background-color: #ced2d9;
}

.touritem-middle {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flight-foots {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.low-price .tag-span {
  font-size: 13px;
  font-weight: 500;
  color: #5f7388;
}

.pop-touritem-bg {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(15, 41, 77, 0.08);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.pop-touritem-bg .bg-cover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.2s;
  background-position-y: -10px;
}

.pop-touritem-bg .touritem-cnt {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 0 24px 16px;
}

.detail.ellipsis-container .ellipsis {
  margin: 0 5px 5px 0px;
  font-size: 13px;
  padding: 3px 8px;
  border-radius: 4px;
  display: inline-block;
  color: #45596c;
  border: 1px dashed #ccd5de;
}

.flight-footer {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.star-rates {
  font-size: 11px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  letter-spacing: 3px;
}

.star-rates .fa-solid.active {
  color: #ffa31a;
}

.rat-reviews {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.rat-reviews span {
  margin-left: 3px;
  color: #455873;
  font-size: 12px;
  font-weight: 500;
}

.activities-flex {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #05264e;
}

.activities-flex li {
  list-style: none;
}

.activities-flex li .actv-wrap-caps {
  color: #808fa0;
  font-size: 13px;
}

.popFlights-item-overHidden {
  position: relative;
  overflow: hidden;
}

.flight-thumb-wrapper .popFlights-item-overHidden > img,
.flight-thumb-wrapper .popFlights-item-overHidden > img {
  transition: all ease 0.4s;
  height: 204px;
}

.flight-thumb-wrapper:hover .popFlights-item-overHidden > img,
.flight-thumb-wrapper:focus .popFlights-item-overHidden > img {
  transform: scale(1.05);
}

.segmentDeparture ul {
  padding: 0;
  margin: 0;
  position: relative;
  border-left: 1px solid #a6bbca;
}

.segmentDeparture ul li {
  margin-bottom: 0;
  padding-left: 1.2rem;
}

.segmentDeparture ul li:first-child {
  margin-bottom: 1.8rem;
}

.segmentDeparture ul:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--bs-primary);
  border: 4px solid var(--bs-primary-bg-subtle);
  border-radius: 50%;
  left: -10px;
  top: 0;
}

.segmentDeparture ul:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--bs-primary);
  border: 4px solid var(--bs-primary-bg-subtle);
  border-radius: 50%;
  left: -10px;
  bottom: 0;
}

.segmentDeparture-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.segmentDeparture-overlay {
  position: relative;
  border-left: 1px dashed #c4ced7;
  padding: 3rem;
}

/*---------- GeoTrip Elements Styles: Tours Lists Styles ------------*/
.main-carousel.list-layouts {
  height: 100%;
}

.main-carousel.list-layouts .carousel-cell {
  height: 100%;
  width: 100%;
}

.arrow-hide .flickity-page-dots {
  display: none;
}

.flickity-page-dot:focus {
  outline: 0;
  box-shadow: 0 0 0 5px var(--bs-primary-bg-subtle);
}

.flickity-page-dot {
  background: var(--bs-primary-bg-subtle);
}

.flickity-page-dot.is-selected {
  background: var(--bs-primary);
}

/*---------- GeoTrip Elements Styles: Detail Page Styles ------------*/
.galleryGrid {
  display: grid;
  grid-template-columns: 0.52fr 0.24fr 0.24fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.galleryGrid.typeGrid_1 > *:nth-child(1) {
  grid-row: 2 span;
}

.galleryGrid.typeGrid_2 > *:nth-child(1) {
  grid-row: 2 span;
}

.galleryGrid.typeGrid_2 > *:nth-child(2) {
  grid-column: 2 span;
}

.galleryGrid.typeGrid_3 {
  grid-template-columns: 0.52fr 0.24fr 0.24fr 0.24fr 0.24fr;
}

.galleryGrid.typeGrid_3 > *:nth-child(1) {
  grid-row: 2 span;
}

.galleryGrid.typeGrid_3 > *:nth-child(6),
.galleryGrid.typeGrid_3 > *:nth-child(7) {
  grid-column: 2 span;
}

.galleryGrid.typeGrid_1 img,
.galleryGrid.typeGrid_2 img,
.galleryGrid.typeGrid_3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.couponSep {
  border-bottom: 1px solid #e3e9ed;
  position: relative;
  margin: 30px 0;
}

.couponSepText {
  width: 28px;
  height: 28px;
  background: #f1f6f9;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #f1f6f9;
  position: absolute;
  top: -13px;
  border-radius: 30px;
  left: 45%;
  padding: 4px 4px;
  color: #bcc9d1;
}

/*----------List Styles ------------*/
.flightLine {
  position: relative;
  width: 100%;
  height: 0;
  top: 10px;
  border: 1px dashed #dee2e6;
}

.flightLine > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 1px solid #dee2e6;
  border-radius: 100%;
}

.flightLine > *:nth-child(1) {
  left: -2px;
  background-color: #ffffff;
}

.flightLine > *:nth-child(2) {
  right: -2px;
  background-color: #dee2e6;
}

.flightLine.departure:before {
  content: "\f0fb";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  color: #a0abb8;
  position: absolute;
}

.flightLine.return:before {
  content: "\e518";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  left: 50%;
  transform: translate(65%, -50%);
  top: 65%;
  position: absolute;
  rotate: 275deg;
  color: #a0abb8;
}

/*---------- GeoTrip Elements Styles: City Styles ------------*/
.cardCities {
  position: relative;
  z-index: 0;
}

.cardCities.cursor:hover {
  cursor: pointer;
}

.cardCities .cardCities-image {
  border-radius: inherit;
}

.ratio {
  position: relative;
  display: block;
  overflow: hidden;
}

.ratio-4::before {
  padding-bottom: 125%;
}

.ratio::before {
  display: block;
  width: 100%;
  content: "";
}

.ratio-full::before {
  padding-bottom: 100%;
}

.cardCities .cardCities-image {
  border-radius: inherit;
}

.cardCities .cardCities-image img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.citiesCard-content {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.citiesCard-content.cardCities-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 7, 45, 0.44);
  border-radius: inherit;
  transition: all ease 0.5s;
  opacity: 0.3;
}

.citiesCard-topcaps {
  transition: all ease 0.5s;
  opacity: 0;
}

.citiesCard-bottomcaps {
  transition: all ease 0.5s;
  transform: translateY(80px);
}

.cardCities:hover .citiesCard-bottomcaps,
.cardCities:focus .citiesCard-bottomcaps {
  transform: translateY(0);
}

.cardCities:hover .cardCities-bg,
.cardCities:focus .cardCities-bg {
  opacity: 1;
}

.cardCities:hover .citiesCard-topcaps,
.cardCities:focus .citiesCard-topcaps {
  opacity: 1;
}

.destinations-pics a {
  position: relative;
  display: block;
}

.destinations-pics a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #031628;
  height: 100%;
  opacity: 0.4;
  z-index: 1;
  transition: all ease 0.4s;
}

.cardOffer-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.cardOffer-content.cpnCode {
  background: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 0.5);
}

.cardOffer-content:before {
  content: "";
  border-radius: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(5, 5, 5, 0.7) 0%,
    rgba(5, 5, 5, 0) 100%
  );
}

.destinations-pics:hover a:before,
.destinations-pics:focus a:before {
  opacity: 0.4;
  z-index: 1;
  background: #031628;
}

.destinations-pics a > img {
  transition: all ease 0.4s;
}

.destinations-pics:hover a > img {
  transform: scale(1.2);
}

/*----------Elements Styles: Offers Styles ------------*/
.cardOffer .cardOffer-image {
  border-radius: inherit;
}

.cardOffer .cardOffer-image img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.recommend-module-card {
  margin-top: 9px;
  border-radius: 8px !important;
  background-color: #fff !important;
  box-shadow: 0 8px 16px 0 rgba(15, 41, 77, 0.08) !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
  text-decoration: none !important;
  color: inherit !important;
  cursor: auto !important;
  position: relative !important;
  min-height: 320px !important;
  height: 100% !important;
  transform: translateZ(0) !important;
}

.recommend-module-card.recommend-module-card.min-ht {
  height: auto !important;
  min-height: 450px !important;
}

.bokker-bg-full {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  transition: transform 0.2s ease-in-out !important;
  background-position: center !important;
  background-size: cover !important;
}

.bokker-bg-full:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0e223c;
  display: block;
  opacity: 0.3;
}

.bokker-bg-full:hover {
  transform: scale(1.1);
}

.bokker-content {
  margin-top: auto;
  position: relative;
  z-index: 2;
  padding: 28px 16px 16px;
  color: #fff;
  text-align: left;
}

.bokker-content-text {
  font-size: 26px;
  font-weight: 800;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  word-break: break-word;
}

.bokker-content-button {
  margin-top: 16px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--bs-primary);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 0 8px;
  transition: background-color 0.2s;
}

.bokker-content-button:hover {
  background-color: #c0241a;
}

button.full-width.fw-medium.btn.btn-primary {
  padding: 9px 5px;
  border-radius: 8px;
  background-color: #ff5f97;
  border: 1px solid #ff5f97;
}

.bg-light-success {
  padding: 1px 15px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 75%;
  background-color: #d4eee3;
  margin-bottom: 12px !important;
}

.label {
  padding: 2px 12px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 70%;
}

.text-primary {
  color: #c0241a !important;
}

.danger {
  background-color: rgb(205, 44, 34);
}

.gray-simple {
  background-color: #efefef !important;
}

.btn-light-primary {
  background-color: #ffe6e5 !important;
  border-color: #ffe6e5 !important;
  color: #cd2c22;
}

.btn-light-primary:hover {
  background-color: #cd2c22 !important;
  border-color: #cd2c22 !important;
  color: #ffffff !important;
}

/*--------------------------------------------------
Footer Style
---------------------------------------------------*/
footer {
  z-index: 99;
  font-weight: 500;
  position: relative;
  background: #252323;
  padding: 20px 0px;
}

.skin-theme-footer {
  background: var(--bs-primary);
}

.skin-dark-footer {
  background: #003149;
}

.footer-top {
  position: relative;
  display: block;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
p {
  text-decoration: none;
}

.skin-light-footer .footer-top {
  border-bottom: 1px solid #eff4f9;
}

img.img-footer {
  max-width: 24px;
  margin: 7px 4px 8px 4px;
}

.footer-add {
  color: #b5c9dd;
  font-size: 13px;
}

.footer-logo img {
  max-width: 185px;
}

.footer-widget h4.widget-title {
  margin-bottom: 20px;
  font-size: 15px;
  color: #fff;
}

.footer-widget ul {
  padding: 0;
  margin: 0;
}

.footer-widget ul li {
  list-style: none;
  margin-top: 15px;
  display: block;
  line-height: 1rem;
}

.footer-widget ul li a {
  color: #6e8497;
  font-size: 14px;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  color: #6e8497;
}

.footer-widget ul li a:hover {
  color: #c4c2c2;
}

.secHeading-wrap.text-center h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.secHeading-wrap.text-center p {
  margin-top: 4px;
  font-size: 12px;
}

.footer-widget ul li a:focus {
  color: var(--bs-primary);
}

.footer-widget ul li a:active {
  color: var(--bs-primary);
}

.footer-widget ul li a p {
  color: #6e8497;
  font-size: 13px;
}

.footer-widget {
  padding: 21px 0;
}

.skin-theme-footer .footer-widget ul li a,
.skin-theme-footer .footer-widget p {
  color: rgba(255, 255, 255, 0.6);
}

footer.skin-dark-footer .footer-widget ul li a,
footer.skin-dark-footer,
footer.skin-dark-footer a,
.skin-dark-footer .footer-widget p {
  color: #557685;
  transition: all ease 0.4s;
  font-size: 13px;
}

footer.skin-dark-footer .footer-widget ul li a:hover,
footer.skin-dark-footer .footer-widget ul li a:focus {
  color: #ffffff;
}

.widget_media_image {
  margin-top: 3rem;
}

.footer-bottom {
  padding: 15px 0;
  color: #022f5d;
  font-size: 13px;
}

footer.skin-dark-footer h4,
footer.skin-dark-footer .h4 {
  color: #fff !important;
}

.skin-theme-footer .footer-bottom {
  color: #ffffff;
}

.skin-dark-footer .footer-bottom {
  color: #ffffff;
}

.footer-widget .ftp-info {
  background: #e2e7ef;
  display: flex;
  max-width: 225px;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
}

.footer-widget .ftp-info i {
  margin-right: 10px;
}

footer.skin-dark-footer .footer-widget .ftp-info {
  background: #003364;
  color: #ffffff;
}

.call-action-caption h2 {
  font-weight: 800;
}

.foot-socials {
  position: relative;
  display: block;
  margin-top: 1.5rem;
}

.foot-socials ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.foot-socials ul li a {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px !important;
  transition: all ease 0.4s;
}

.foot-socials ul li a:hover {
  background: var(--bs-primary);
  color: #ffffff;
}

.foot-socials ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.skin-light-footer .foot-socials ul li a {
  background: #edf3f7;
}

.job-info-count-group {
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.single-jb-info-count {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-right: 2rem;
}

.single-jb-info-count.jbs-y7 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.single-jb-info-count .ctr {
  color: #ffffff;
  margin: 0;
  margin-right: 2px;
  font-size: 20px;
}

.single-jb-info-count span {
  font-size: 17px;
  font-weight: 600;
}

.single-jb-info-count:last-child {
  margin-right: 0;
}

.jbs-y5 p {
  margin: 0;
  color: #557685;
  font-weight: 500;
  font-size: 13px;
}

.skin-light-footer .jbs-y5 p {
  color: #6e8497;
}

.lg-ctr .single-jb-info-count .jbs-y7 .ctr {
  font-size: 35px;
  line-height: 1;
}

.lg-ctr .single-jb-info-count .jbs-y7 span {
  font-size: 30px;
}

.lg-ctr .jbs-y5 p {
  font-size: 14px;
}

.skin-theme-footer .lg-ctr .jbs-y5 p {
  color: rgba(255, 255, 255, 0.6);
}

.skin-dark-footer .footer-bottom.border-top {
  border-color: #0f4863 !important;
}

a#back2Top {
  position: fixed;
  right: 12px;
  bottom: 10px;
  padding: 7px 13px;
  height: auto;
  border-radius: 4px;
  background: var(--bs-primary-bg-subtle);
  font-size: 18px;
  color: var(--bs-primary);
}

/* Box model login  */

.contain {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.contain p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.contain span {
  font-size: 12px;
}

.contain a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.sign-up h1 {
  font-size: 35px;
  color: var(--heading-color);
}

.sign-in h1 {
  font-size: 35px;
}

.contain button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer !important;
}

.contain button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.contain form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.contain input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

/* .nav-tabs .nav-link.active {
    color: #e9002a !important;
    font-weight: 700 !important;
} */

.form-control {
  font-size: 13px !important;
  padding: 10px 10px !important;
}

.form-select {
  font-size: 15px !important;
  padding: 10px 10px !important;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.contain.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.contain.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.contain.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.contain.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.contain.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.contain.active .toggle-right {
  transform: translateX(200%);
}

/* .modal {
    padding-right: 240px !important;
} */
.toggle-right h1 {
  font-size: 30px;
}

.toggle-left h1 {
  font-size: 30px;
}

.mobileContainer {
  display: none;
}

/* swiper slider */

@media screen and (max-width: 575px) {
  .availability-form {
    margin-top: 0px;
  }

  .availability-form .row h3 {
    text-align: center;
    font-weight: 900;
    font-size: 31px;
    color: rgb(34, 116, 224);
  }

  .navbar-light .navbar-toggler:focus {
    text-decoration: none !important;
    outline: none !important;
    color: transparent !important;
  }

  .mr-left {
    margin-left: 1.2rem;
  }

  button.navbar-toggler.collapsed {
    display: none;
  }

  .navbar-light .navbar-brand {
    font-size: 30px !important;
  }

  .list-buttons > a {
    font-size: 11px;
    padding: 8px 17px;
  }

  .rowMenuCard {
    margin-right: 10px !important;
  }

  .mobileView {
    display: block;
  }
  .availability-form {
    margin-top: -11px !important;
  }
  /* .nav-pills .nav-link1{
        margin-left: 9px;
    } */
  .mobileContainer {
    display: flex;
  }
  .topList > input.form-control {
    margin-bottom: 4px;
  }
  .topList > select.form-select {
    margin-bottom: 4px;
  }

  .modelApp {
    margin-top: 70px;
  }

  .left {
    display: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1281px) {
  h5.modal-title.d-flex.justify-content-center {
    margin-left: 120px;
  }

  h5.modal-title.d-flex.justify-content-center.login {
    margin-left: 160px;
  }
}

@media (max-width: 480px) {
  h5.modal-title.d-flex.justify-content-center {
    margin-left: 42px;
  }

  .availability-form .row h3 {
    text-align: center;
    font-weight: 900;
    font-size: 31px;
    color: rgb(34, 116, 224);
  }

  .list-buttons:hover {
    background-color: none;
  }

  h5.modal-title.d-flex.justify-content-center.login {
    margin-left: 90px;
  }

  .mr-left {
    margin-left: 1.2rem;
  }

  button.slick-arrow.slick-next {
    display: none !important;
  }

  /* .cardApp-caption.text-start.ps-3{
        margin-left: 40px;
        text-decoration: none;
    }

    .cardApp-caption.text-start {
        margin-left: 20px;
        text-decoration: none;
    } */

  /* button.applink {
        margin-left: 0px;
    } */

  button.navbar-toggler.collapsed {
    display: none;
  }

  .navbar-light .navbar-brand {
    font-size: 30px !important;
  }

  .mobileView {
    display: block;
  }

  .rowMenuCard {
    margin-right: 15px !important;
    margin-left: 5px;
  }
  .availability-form {
    margin-top: -11px !important;
  }
  .mobileContainer {
    display: flex;
  }
  .modelApp {
    margin-top: 70px;
  }
  /* .appLink-buttons{
        display: none;
    } */
}

@media (max-width: 400px) {
  .rowMenuCard {
    margin-right: 3px !important;
  }
  .mobileContainer {
    display: flex;
  }
  .boxModel {
    padding: 45px 0px;
  }
  /* .appLink-buttons{
        display: none;
    } */
  .list-buttons:hover {
    background-color: none;
  }
}

/* navbar style */

.active-tab {
  background-color: #e8f1ff;
  border-radius: 10px;
}
.nav-item img {
  filter: grayscale(100%);
}
.active-tab img {
  filter: none;
}
.privacy a {
  white-space: nowrap;
}
