
.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
  }
  
  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
  }
  
  .headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  }
  
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  
  .headerDesc {
    margin: 20px 0px;
  }
  
  .headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
  }
  
  .headerIcon {
    color: rgb(36, 32, 32);
  }
  
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchInput {
    border: none;
    outline: none;
  }
  
  .headerSearchText {
    color: rgb(93 86 86);
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }
  
  /* cars.scss */
  
  * {
    box-sizing: border-box;
  }
  
  .sliderhome {
    margin-top: 43px;
  }
  
  /* // avilability-form details */
  
  .avilability-form .row h3 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: rgb(34, 116, 224);
  }
  
  .makeFlex {
    display: flex;
    justify-content: center;
    margin-top: -14px;
  }
  .greyText {
    color: #9b9b9b;
    font-weight: 500;
  }
  
  .fswTabs li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 0px 6px;
    border-radius: 20px;
  }
  
  .nav-pills .greyText .active {
    color: #fff !important;
    border-radius: 20px !important;
    padding: 2px 6px !important;
  }
  .nav-pills .greyText .active .tabsCircle {
    border: solid 1px #fff !important;
    background: #fff !important;
  }
  
  .fswTabs li .tabsCircle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid gray;
  }
  
  .tabsCircle {
    display: inline-block;
  }
  
  .appendRight5 {
    margin-right: 5px;
  }
  
  .nav-pills .nav-link.active .tabsCircle::after {
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border: solid #2176bc;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    margin-top: 1px;
    margin-left: 3px;
  }
  
  .form-control {
    padding: 10px !important;
    font-size: 15px !important;
    font-weight: 500;
  }
  .avilability-form button.btn.btn-primary {
    border-radius: 8px !important;
    background-color: #ff5f97 !important;
    border: 1px solid #ff5f97 !important;
  }
  
  /* Mobile Screens */
  @media only screen and (max-width: 767px) {
    .headerContainer,
    .headerContainer.listMode {
      margin: 20px 0;
    }
  
    .headerList {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
    }
  
    .headerListItem.active {
      padding: 8px;
      border-radius: 10px;
    }
  
    .headerSearch {
      height: 50px;
      bottom: -45px;
    }
  
    .headerDesc {
      margin: 10px 0;
    }
  
    .date,
    .options {
      top: 70px;
    }
  
    .optionItem {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 10px 0;
    }
  
    .optionCounter {
      flex-direction: column;
      align-items: center;
      gap: 5px;
      font-size: 12px;
    }
  }
  
  /* Tablet Screens */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .headerList {
      gap: 30px;
    }
  
    .headerSearch {
      max-width: 768px;
    }
  
    .options {
      max-width: 768px;
    }
  
    .optionItem {
      width: 100%;
    }
  }
  
  /* Desktop Screens */
  @media only screen and (min-width: 1024px) {
    .headerList {
      gap: 40px;
    }
  
    .headerSearch,
    .options {
      max-width: 1024px;
    }
  
    .optionItem {
      width: 200px;
    }
  }
  